.home-page{
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 25px;
.bottom{
    display: flex;
    gap: 10px;
}
.top{
    display: flex;
    flex-direction: column;
}
h4{
    border:0.5px solid;
    border-radius: 15px; 
    padding: 25px;
    background-color:  rgb(189 217 238 / 60%);
    font-size: 20px;
    width: 200px;
    }  
   span{
       color: tomato;
   } 
   button{
       background-color:rgba(255, 99, 71, 0.452);
       border-radius: 20px;
       padding: 2px;
       cursor: pointer;
   }
} 
