.contact-preview {
  display: flex;
  align-items: center;
  text-align: left;
  background-color:  #acacac;
  width: 656px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 20px;
  gap: 12px;
cursor: pointer;
   img {
    height: 88px;
    width: 89px;
  }
  button {
    margin: 5px;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
   
  }

  h4{
    flex-grow: 1;
  }
}
