.app-login-page{
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
button{
    text-decoration: none;
    background-color: rgba(207, 205, 205, 0.753);
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 40px;
}
}