/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: JosefinSans;
    src: url('./assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: ZenKurenaido;
    src: url('./assets/fonts/ZenKurenaido-Regular.ttf');
}

body{
    font-family: zenkurenaido;
    margin: 0;
}